<div class="contacts-item">
  <span class="contacts-item__title">{{title}}</span>
  {{#if text}}<p><span class="contacts-item__text">{{text}}</span></p>
  {{else}}<p><a class="contacts-item__link" href="{{href}}">{{label}}</a></p>{{/if}}
  {{#if href-2}}<p><a class="contacts-item__link" href="{{href-2}}">{{label-2}}</a></p>{{/if}}
</div>