<div class="contacts-item">
  <span class="contacts-item__title">{{title}}</span>
  <a class="contacts-item__link" href="{{href}}">{{label}}</a>
  <a class="contacts-item__link" href="{{href-2}}">{{label-2}}</a>
</div>